#root {
display:flex;
flex-direction: column;
min-height: 100vh;
min-width: 100%;

}

.mainPage{
  flex-grow: 1;
}

.fondoLogin{
  background-color: #faf5e5;
}
.colorPrimario{
  background-color: #4a6572;
}
.colorPrimarioTexto{
  color:#4a6572
}
.colorSecundario{
  background-color: #81a1c1;
}
.colorSecundarioTexto{
  color:#81a1c1;
}
.colorAcento{
  background-color: #d08770;
}
.colorAcentoTexto{
  color:#d08770;
}
.colorTexto{
  color: #2e3440;
}
.glass-efect{
  
  box-shadow: 0 0.3rem 1rem rgba(0,0,0,.3);
  border-radius: 0.7rem;
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  backdrop-filter: blur(1px) saturate(180%);
  background-color: #f5f2e9;
}