#root {
display:flex;
flex-direction: column;
min-height: 100vh;
min-width: 100%;
background-color: #f5f2e9;
font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}

.mainPage{
  flex-grow: 1; 
 
}

.fondoLogin{
  background-color: #faf5e5;
}
.colorPrimario{
  background-color: #4a6572;
}
.colorPrimarioTexto{
  color:#4a6572
}
.colorSecundario{
  background-color: #81a1c1;
}
.colorSecundarioTexto{
  color:#81a1c1;
}
.colorAcento{
  background-color: #d08770;
}
.colorAcentoTexto{
  color:#d08770;
}
.colorTexto{
  color: #2e3440;
}
.controlTexto{
  font-family: "Roboto Mono", monospace;
  color: #c4c1c1;
  
}

.imgBanner{
 width: 40%;
 object-fit: cover;
}
.contBanner{
 background-color: #a8b8c7;
 display: flex;
}
.glass-efect{
  box-shadow: 0 0.3rem 1rem rgba(0,0,0,.3);
  border-radius: 0.7rem;
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  backdrop-filter: blur(1px) saturate(180%);
  background-color: #f5f2e9;
}
.cardEfect{

  border-radius: 3px;
  background: #f5f2e9;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}

@media all and (max-width: 767px) {
  .imgBanner{
    width: 100%; 
    background-color: #242020;
}
.contBanner{
  margin-top: 3%;
  margin-bottom: 3%;
}
.imgCarousel{
  width: 100%;
}
}



@media all and (min-width: 768px) and (max-width: 991px) {
  .imgBanner{
    width: 100%; 
    background-color: #242020;
}
.contBanner{
  margin-top: 3%;
  margin-bottom: 3%;
}
.imgCarousel{
  width: 100%;
}
}
@media all and (min-width: 992px) {
  .imgBanner{
    width: 40%; 
   
}
.colorPrimariomod{
  background-color: #9aaeb8;
}

.imgCarousel{
  width: 100%;
}
.contenedorPrincipal{
  height: 80vh;
  border-radius: 3px;
  box-shadow: 15px 15px 30px #bebebe,
  -15px -15px 30px #ffffff;
  
  --gap: 5em;
  --line: 1px;
  --color: rgba(250, 250, 250, 0.231);

  --s: 25px; /* control the size */
  --c1: #0c0e2ffe;
  --c2: #171717;

  --c: #98969600 71%, var(--c1) 0 79%, #0000 0;
  --_s: calc(var(--s) / 2) / calc(2 * var(--s)) calc(2 * var(--s));
  background: linear-gradient(45deg, var(--c)) calc(var(--s) / -2) var(--_s),
    linear-gradient(135deg, var(--c)) calc(var(--s) / 2) var(--_s),
    radial-gradient(var(--c1) 35%, var(--c2) 37%) 0 0 / var(--s) var(--s);
}

}  
